<article class="recipe-articles">
  <div class="recipe">
    <img src="{{recipe.image}}" width=100 height=100>
    <h3>{{#link-to "recipe-view" recipe}}{{recipe.title}}{{/link-to}}</h3>
    <p>{{recipe.labels}}</p>
  </div>
</article>
