<header id="page-header">
  {{#link-to 'login' class="button"}}
  Log In
  {{/link-to}}
  <h1 id="brand">MyCookBook</h1>
</header>

<div class="body">
  {{outlet}}
</div>

<!--
<footer>
  <p>MyCookBook 2017</p>
</footer>
-->
