<div class= "dashboard-1 body-content">
  {{#link-to 'add-recipe' class="button button-grey"}}Add recipe{{/link-to}}
  <h2>Recently Added</h2>
</div>
{{content-photo}}
<div class= "dashboard-2 body-content">
  <p>MyCookBook helps you store and organize recipes. You can either instert them here or save an external link. Create and customize your own system and add labels to find everything easily.</p>
  <div class="button-container">
    {{#link-to 'add-recipe' class="button button-grey"}}Add a new recipe{{/link-to}}
  </div>
</div>
{{search-recipes}}
